@font-face {
  font-family: 'San Francisco Text Light';
  src: url("../fonts/SFUIText-Light.eot");
  src: url("../fonts/SFUIText-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Light.woff") format("woff"), url("../fonts/SFUIText-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Text Regular';
  src: url("../fonts/SFUIText-Regular.eot");
  src: url("../fonts/SFUIText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Regular.woff") format("woff"), url("../fonts/SFUIText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'San Francisco Text Light';
}

body {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
}

body > .content {
  flex: 1 1 auto;
}

.wrap {
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: center;
}

.wrap_column {
  flex-direction: column;
}

.wd100 {
  width: 100%;
}

select {
  background-color: #1f1f1f;
  border: 1px solid #363636;
  outline: none;
  color: #fafafa;
  padding: 5px;
}

.header_block {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.header_block > h1 {
  font-family: 'San Francisco Text Regular';
  text-shadow: -5px 5px 10px #414040;
  color: #fafafa;
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid silver;
}

.input-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f1f1f;
  border: 1px solid #363636;
  width: 300px;
}

.input-block.with_title {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  padding-left: 10px;
  overflow: hidden;
}

.input-block.with_title label {
  position: absolute;
  top: 0;
  font-size: 12px;
  width: 100%;
  opacity: 0.5;
  transition: .4s;
}

.input-block.with_title label.fill-label {
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: .4s;
  color: tan;
}

.input-block.with_title input {
  font-size: 18px;
  margin-top: 12px;
  width: 100%;
  margin: 15px 0 0;
}

.input-block.with_title input[type="date"] {
  color: transparent;
}

.input-block.with_title input[type="date"]:focus, .input-block.with_title input[type="date"]:not(:invalid) {
  color: #fafafa;
}

.input-block.with_title input.upcase {
  text-transform: capitalize;
}

.input-block.radiobutton {
  background-color: transparent;
  border: none;
  justify-content: space-around;
}

.input-block.radiobutton .radio {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
}

.input-block.radiobutton .radio input {
  width: 25px;
}

.input-block.radiobutton .radio label {
  width: 50px;
  height: auto;
}

.input-block.error {
  border: 1px solid red;
}

.input-block input {
  margin: 5px;
  width: 90%;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #fafafa;
  outline: none;
}

.input-block svg {
  fill: #717171;
  width: 20px;
  height: 20px;
  margin-right: 2%;
}

.input-block svg:hover {
  fill: #b9b9b9;
  transition: 1s;
}

.item_doctor {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  min-height: 350px;
  padding: 30px 10px 0 10px;
  margin: 5px;
  line-height: 23px;
  background-color: #3c3c3c;
  color: #fafafa;
  border: 1px solid #5d5959;
  box-shadow: 0 0 13px 1px #191919;
  text-align: center;
}

.item_doctor .item-image {
  display: flex;
  justify-content: center;
}

.item_doctor .item-image img {
  border-radius: 50%;
  height: 140px;
  width: 140px;
  object-fit: cover;
  box-shadow: 0 0 20px 12px rgba(69, 220, 112, 0.2);
}

.item_doctor .item-desc {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin: 10% 0;
}

.item_doctor .item-desc_header {
  color: #45dc70;
  font-size: 20px;
  margin-bottom: 5%;
  text-decoration: none;
}

.item_doctor:hover {
  transform: scale(1.03);
  transition: 0.4s ease;
}

.list-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fafafa;
  background-color: #323131;
  border-radius: 10px;
  padding: .5% 1%;
}

.list-block_items {
  margin: -1% 12.5px;
}

.list-block_items_content {
  list-style: decimal;
  margin: 1% 25px;
}

.list-block_items_content:hover {
  transform: scale(1.02);
  transition: 0.4s ease;
}

.list-block_items_content > a {
  color: #fafafa;
  text-decoration: none;
  font-size: 18px;
  height: 30px;
}

.list-block_items_content > a:hover {
  color: #72b677;
  transition: 0.4s ease;
}

.Button {
  background-color: #fafafa;
  color: black;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  cursor: pointer;
  transition: border-color .4s;
}

.Button:hover {
  border-color: #cf0;
}

.notifications {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 10px;
  bottom: 10px;
  z-index: 99;
}

.notifications .item {
  display: none;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #323131;
  min-width: 100px;
  max-width: 370px;
  color: white;
  word-break: break-all;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.74);
}

.notifications .item:first-child {
  margin: 0;
}

.notifications .item-title {
  display: block;
  color: #e5bd29;
  margin-bottom: 5px;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.spinner .path {
  stroke: #a8b1b9;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
