.popup_appointment{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    z-index: 1;
    &.initialized{
        display: flex;
    }
    &_body{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 75%;
        margin: auto;
        background-color: $block_gray;
        border: 1px solid gray;
        border-radius: 10px;
        overflow: hidden;
        color: $dark_text;
        &_header{
            position: relative;
            padding: 10px;
            border-bottom: 1px solid gray;
            & .close-btn{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                cursor: pointer;
                transition: color .4s;
                &:hover{
                    color: $green_text;
                }
            }
        }
        &_content{
            position: relative;
            flex: 1 0 auto;
            border-bottom: 1px solid gray;
            overflow: hidden;
            &.bg_wait:before{
                display: block;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,.5);
                z-index: 1;
                transition: background-color .4s;
            }
            & > div{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                visibility: hidden;
                opacity: 0;
                transition: opacity .4s, visibility .4s;
                &.visible{
                    visibility: visible;
                    opacity: 1;
                }
            }
            & .User_info{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 40px;
            }
            & .line-inputs{
                display: flex;
                justify-content: space-between;
                margin: 0 -5px;
                & > div{
                    margin: 0 5px;
                }
                & .stretchable{
                    flex: 1 0 auto;
                }
            }
            & .Registration-appointment{
                display: flex;
                flex-direction: column;
                padding: 20px;
                &_choose-time{
                    flex: 1 0 auto;
                    //background-color: #fff;
                    & table{
                        width: 100%;
                        max-width: 800px;
                        height: 90%;
                        margin: 0 auto;
                        border-collapse: collapse;
                        background-color: #1f1f1f;
                        & caption{
                            margin: 10px 0;
                        }
                        & .table_body tr{
                            & > *{
                                border: 1px solid #363636;
                                padding: 5px;
                            }
                            & tr{
                                font-weight: bold;
                            }
                            & td{
                                text-align: center;
                                font-weight: 700;
                                & span{
                                    display: block;
                                    background-color: #32b436;
                                    border: 1px solid #2f9f31;
                                    color: white;
                                    border-radius: 5px;
                                    cursor: pointer;
                                }
                                &.CantChoose span{
                                    border: 1px solid #8f8f8f;
                                    background-color: transparent;
                                    color: #8f8f8f;
                                    cursor: default;
                                }
                                &:not(.CantChoose):hover span, & span.choosed{
                                    opacity: 0.7;
                                }
                            }
                        }
                    }
                }
            }
        }
        &_buttons{
            display: flex;
            justify-content: flex-end;
            padding: 10px;
        }
    }
}